.centerbutton{
  text-align: center;
}

centerbutton:hover{
	background-color: #8a5f28}

.rightbutton{
  text-align: right;
  margin-right:100px
}

rightbutton:hover{
	background-color: #8a5f28}

  
button {
	background-color:#ebb75e; 
	font-family:timesnewromans;
	height: 40px;
border-radius: 10% }

button:hover{
	background-color: #8a5f28}

.box {width:1450px; 
	height: 270px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin: 30px; 
	align-items:center;
	 justify-content:center;}
	 
.boxs {width:1000px; 
	height: 270px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 40px; 
	align-items:center;
	 justify-content:center;}
	 
.boxes {width:1000px; 
	height: 200px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 40px; 
	align-items:center;
	 justify-content:center;}

.boxess {width:1000px; 
	height: 150px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 40px; 
	align-items:center;
	 justify-content:center;}
.boxesea {width: 500px;
	height: 225px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 40px; 
	align-items:center;
	 justify-content:center;}

.bos {width:1000px; 
	height: 180px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 40px; 
	align-items:center;
	 justify-content:center;}
	 
.position	{
	position:sticky;
	top: 10px;}
	
body {background-color:#b59751;}

h1, h3 {
	font-family:timesnewromans;
	color:#2e240d;
}


body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2e240d;
  justify-content: center;
  align-items: center;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


 .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.overlay {
		position: fixed;
		top:0;
		left:0;
		width:100%;
		height:100vh;
		z-index:10;
		background-color:rgba(0,0,0,0.4);;

.mpboxs {width:600px; 
	height: 850px; 
	background-color:#ebb75e;
	box-shadow: 3px 3px 10px black; 
	border-radius: 15px; 
	margin-left: 30%; 
	align-items:center;
	 justify-content:center;}

.rm {
    width: 500px;
    height: 500px;
	border-radius: 20px;
	margin-left: 9%;
	justify-content: center;
}



